all:
  vars:
    # default namespaces
    namespace_devspaces: devspaces
    namespace_quay: quay-enterprise
    namespace_devhub: devhub
    namespace_gitops: openshift-gitops
    
    # default users
    default_user: admin
    default_user_pwd: admin321
    default_user_email: admin@example.com

    quay_user: quayadmin
    quay_user_pwd: admin321
    quay_user_email: admin@example.com

    # Dev Spaces configuration
    dashboard_description: "Software Factory"
    workspaces_per_user: -1
    running_workspaces_per_user: 1
    default_workspace_container_image: "registry.redhat.io/devspaces/udi-rhel8:3.11"

    # Dev Spaces - GitHub (Enterprise)
    github_endpoint: "https://partner-github.dxc.com"
    github_app_id: ""
    github_client_id: "xyz="
    github_client_secret: "xyz="

    # placeholders, might be overridden in playbooks
    cluster_domain: "example.com"