apiVersion: org.eclipse.che/v2
kind: CheCluster
metadata:
  name: devspaces
  namespace: {{ namespace_devspaces }}
spec:
  components:
    cheServer:
      debug: false
      logLevel: INFO

    dashboard:
      headerMessage:
        show: true
        text: {{ dashboard_description }}
    
    devWorkspace: {}

    devfileRegistry: {}
    
    database:
      credentialsSecretName: postgres-credentials
      externalDb: false
      postgresDb: dbche
      postgresHostName: postgres
      postgresPort: '5432'
      pvc:
        claimSize: 1Gi
    metrics:
      enable: true
  
  containerRegistry: {}
  
  devEnvironments:
    startTimeoutSeconds: 300
    secondsOfRunBeforeIdling: -1
    maxNumberOfWorkspacesPerUser: {{ workspaces_per_user }}
    maxNumberOfRunningWorkspacesPerUser: {{ running_workspaces_per_user }}
    containerBuildConfiguration:
      openShiftSecurityContextConstraint: container-build
    disableContainerBuildCapabilities: true
    defaultEditor: che-incubator/che-code/latest
    defaultComponents:
      - container:
          sourceMapping: /projects
          image: {{ default_workspace_container_image }}
          cpuRequest: "1"
          memoryRequest: "1Gi"
          cpuLimit: "2"
          memoryLimit: "4Gi"
        name: universal-developer-image
    defaultNamespace:
      autoProvision: true
      template: <username>-devspaces
    secondsOfInactivityBeforeIdling: 1800
    storage:
      pvcStrategy: per-user
  
  gitServices:
    github:
      - secretName: "github-oauth-config"
  
  networking: {}